html, body {
    height: 100%;
}

body {
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
}

#root {
    height: inherit;
}

.content {
    margin-left: 250px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 5px 5px;
    width: 11%;
}

img {
    width: 100%;
    height: auto;
    padding: 2px 2px;
}